[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {extras = ["speedups"], version = "==3.9.1"}
sqlalchemy = "==2.0.25"
python-dotenv = "==1.0.0"
psycopg2-binary = "==2.9.9"
alembic = "==1.13.1"
loguru = "==0.7.2"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
